#Icon {
    fill: none;
    stroke: #000;
    stroke-width: 8px;
    stroke-linecap: square;
    stroke-miterlimit: 1;
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
}

@keyframes danceDash {
    from {
        stroke-dashoffset: 300;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#DanceIcon > g > path {
    animation: danceDash 1.25s linear;
}

#DanceSkirt {
    animation: danceDash 1.25s linear;
    stroke: #0b82b6;
}
