#Icon {
    fill: none;
    stroke: #000;
    stroke-width: 8px;
    stroke-linecap: square;
    stroke-miterlimit: 1
}

#DartsHead, #DartsArmLeft, #DartsArmRight, #DartsLegLeft, #DartsLegRight {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
    animation: dartsDash 1.25s linear;
}

@keyframes dartsDash {
    from {
        stroke-dashoffset: 300;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#DartsArrow {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
    animation: dartsDashArrow 2.25s linear;
    fill: none;
    stroke: #0b82b6;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-miterlimit: 1;
}

@keyframes dartsDashArrow {
    from {
        stroke-dashoffset: 320;
    }
    33% {
        stroke-dashoffset: 320;
    }
    to {
        stroke-dashoffset: 0;
    }
}
