@import 'tailwindcss';

@config "./../../tailwind.config.js";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

form {
    margin-block-end: 0;
}

/*
 * Remove the X from search fields which usually allows you to clear the field. This is a non-standard feature and
 * unsupported by Firefox.
 */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

h1 {
    @apply text-3xl w-full border-b-2 border-svw-blue-default pb-1 mb-2
}

h2 {
    @apply text-2xl pt-4
}

h3 {
    @apply text-xl pt-3
}

h4 {
    @apply text-lg pt-2
}

h5 {
    @apply font-medium
}

h6  {
    @apply underline
}

p {
    @apply font-light
}

p > a, td > a {
    @apply font-normal underline text-svw-blue-darker
}

p > ul {
    @apply list-disc
}

p > ul > li {
    @apply ml-6
}

@container (max-width: 600px) {
    table td:not(:nth-child(1)):not(:nth-child(2)):not(:last-child),
    table th:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
        display: none;
    }
}

@container (max-width: 900px) {
    table td:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:last-child),
    table th:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:last-child) {
        display: none;
    }
}

table {
    @apply w-full font-light overflow-scroll
}

th {
    @apply border-0 p-2 first:rounded-tl-md last:rounded-tr-md text-left text-sm uppercase
}

tr {
    @apply even:bg-gray-50 first:border-t border-0 border-gray-100
}

thead > tr {
    @apply font-medium
}

td {
    @apply border-0 border-b border-gray-100 p-2 font-normal
}

.card-base {
    @apply bg-white rounded-lg border border-neutral-200 flex flex-col h-full
}

.card-header {
    @apply w-full px-4 pt-4 flex justify-between
}

.card-title {
    @apply text-lg font-medium text-gray-700
}

.card-toolbar {
    @apply flex justify-end gap-4 items-center
}

.card-content {
    @apply w-full p-4 flex flex-col gap-4 @container
}

.news-title-shadow {
    box-shadow: 10px 0 0 rgba(255, 255, 255, 0.75), -10px 0 0 rgba(255, 255, 255, 0.75);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
}

iframe nav {
    display: none;
}

.rbc-header {
    @apply text-2xl
}
