@tailwind base;
@tailwind components;
@tailwind utilities;

form {
    margin-block-end: 0;
}

/*
 * Remove the X from search fields which usually allows you to clear the field. This is a non-standard feature and
 * unsupported by Firefox.
 */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

h1 {
    @apply text-3xl mb-2
}

h2 {
    @apply text-2xl mt-4 mb-2
}

h3 {
    @apply text-xl mt-4 mb-2
}

h4 {
    @apply text-lg mt-4 mb-2
}

h5 {
    @apply text-lg italic mt-4 mb-2
}

h6  {
    @apply italic mt-4 mb-2
}

p {
    @apply text-base font-light my-2
}

.news-title-shadow {
    box-shadow: 10px 0 0 rgba(255, 255, 255, 0.75), -10px 0 0 rgba(255, 255, 255, 0.75);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
}
